@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a,
.itilh {
  text-decoration: none;
  color: rgb(114, 145, 242);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /* PADRÃO VUE: 
    background-color: hsla(160, 100%, 37%, 0.2); */
    background-color: rgb(83, 100, 143);
    color: rgb(246, 247, 253);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
